n8n/Lifewood — AI Agent.json
{
  "name": "Lifewood — AI Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "53f6dd30-0a6c-48c5-9f15-b408efaf06e9",
      "name": "Every 5 Minutes1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1744,
        176
      ]
    },
    {
      "parameters": {
        "url": "=https://lifewoodai-agent-v4-production.up.railway.app/api/google/files/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "mHxsTSEhfiqbsY9fp-ELHJsKGWYoplzAPgIQvbUmHPl2fLWurZwO2b9yCEsTt4hEGJ8"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "6fcb2a9e-edb4-476b-ae6c-ca5aae532568",
      "name": "Get Drive Files1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        176
      ]
    },
    {
      "parameters": {
        "url": "=https://lifewoodai-agent-v4-production.up.railway.app/api/billing/receipts/processed-ids/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "=mHxsTSEhfiqbsY9fp-ELHJsKGWYoplzAPgIQvbUmHPl2fLWurZwO2b9yCEsTt4hEGJ8"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d9095954-0c87-4d60-8da8-65bfbec4ed69",
      "name": "Get Processed IDs1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const driveItems = $('Get Drive Files1').all();\nconst processedData = $('Get Processed IDs1').first().json;\nconst processedIds = new Set(processedData.processed_file_ids || []);\n\nconst IMAGE_TYPES = [\n  'image/jpeg', 'image/jpg', 'image/png', 'image/gif',\n  'image/webp', 'image/tiff', 'application/pdf'\n];\n\nfunction flatten(items, folderName = '', folderId = '') {\n  const result = [];\n  for (const item of items) {\n    if (item.mimeType === 'application/vnd.google-apps.folder') {\n      result.push(...flatten(item.children || [], item.name, item.id));\n    } else if (IMAGE_TYPES.includes(item.mimeType)) {\n      result.push({\n        file_id: item.id,\n        file_name: item.name,\n        mime_type: item.mimeType,\n        folder_id: folderId,\n        folder_name: folderName,\n        modified_time: item.modifiedTime,\n      });\n    }\n  }\n  return result;\n}\n\nconst allFiles = [];\nfor (const driveItem of driveItems) {\n  const folders = Array.isArray(driveItem.json) ? driveItem.json : [driveItem.json];\n  allFiles.push(...flatten(folders));\n}\n\nconst newFiles = allFiles.filter(f => !processedIds.has(f.file_id));\n\nif (newFiles.length === 0) {\n  console.log('No new files to process.');\n  return [];\n}\n\nconsole.log(`Found ${newFiles.length} new file(s) to process.`);\nreturn newFiles.map(f => ({ json: f }));"
      },
      "id": "49842da8-65f5-4bc3-b5b8-b4e3cd3ef3bb",
      "name": "Find New Image Files1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "14dcdcdd-60d7-4d4e-8df4-92fcce88c15b",
      "name": "Loop Over Files1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2704,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const saved = $input.first().json;\nconsole.log(`Receipt saved: ID=${saved.receipt_id}, created=${saved.created}, file=${saved.drive_file_id}`);\nreturn $input.all();"
      },
      "id": "a1c41500-34ba-43ed-acaa-730e7bc57eb0",
      "name": "Log Result1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const webhookBody    = $('Receive Chat Message1').first().json.body;\nconst memoryData     = $('Fetch User Memory1').first().json;\nconst analyticsData  = $('Fetch Analytics Data1').first().json;\n\nconst userId          = webhookBody.user_id;\nconst userMessage     = webhookBody.message;\nconst conversationId  = webhookBody.conversation_id || null;\nconst history         = webhookBody.history || [];\n\n// Build analytics block\nconst summary  = analyticsData.summary  || {};\nconst byCategory = analyticsData.by_category || [];\nconst recent   = analyticsData.recent_receipts || [];\n\nconst analyticsBlock = `\n=== USER FINANCIAL SUMMARY ===\nTotal Receipts : ${summary.total_receipts    ?? 'N/A'}\nTotal Spent    : PHP ${summary.total_amount  ?? '0.00'}\nThis Month     : PHP ${summary.this_month    ?? '0.00'}\nLast Month     : PHP ${summary.last_month    ?? '0.00'}\nAvg per Receipt: PHP ${summary.average_amount ?? '0.00'}\n\nTop Categories:\n${byCategory.slice(0, 5).map(c => `  - ${c.category}: PHP ${c.total} (${c.count} receipts)`).join('\\n')}\n\nRecent Receipts (last 5):\n${recent.slice(0, 5).map(r => `  - ${r.expense_date} | ${r.business_name} | PHP ${r.total} | ${r.expense_category}`).join('\\n')}\n`.trim();\n\n// Build memory block\nconst memories = memoryData.messages || [];\nconst memoryBlock = memories.length > 0\n  ? `=== RELEVANT PAST CONVERSATIONS ===\\n${memories.map(m => `[${m.role}]: ${m.content}`).join('\\n')}`\n  : '';\n\n// System prompt\nconst systemPrompt = `You are Lifewood's AI finance assistant. You help users understand their expense history, receipts, and spending patterns.\n\nGuidelines:\n- Be concise and professional\n- Always reference actual data when answering\n- Format currency as PHP X,XXX.XX\n- If asked about something not in the data, say so honestly\n- You can only see this user's own data\n\n${analyticsBlock}\n\n${memoryBlock}`.trim();\n\n// Build messages array from history (last 10 turns)\nconst historyMessages = history.slice(-10).map(h => ({\n  role: h.role === 'agent' ? 'assistant' : 'user',\n  content: h.content\n}));\n\n// Final messages array for OpenAI\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...historyMessages,\n  { role: 'user',   content: userMessage }\n];\n\nreturn [{\n  json: {\n    messages,\n    user_id: userId,\n    conversation_id: conversationId,\n    user_message: userMessage,\n  }\n}];"
      },
      "id": "b78f84cb-b6ee-4a3a-ae56-ec8ba60b71a3",
      "name": "Build System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 1500,\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a8f161ff-4cbf-4aaf-a35b-edd49215c8b6",
      "name": "GPT-4o Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const openaiResponse  = $('GPT-4o Chat').first().json;\nconst buildData       = $('Build System Prompt').first().json;\n\nconst replyText = openaiResponse?.choices?.[0]?.message?.content;\nif (!replyText) {\n  throw new Error('GPT-4o returned no reply content');\n}\n\nconst usage = openaiResponse.usage || {};\n\nreturn [{\n  json: {\n    reply:           replyText,\n    conversation_id: buildData.conversation_id,\n    user_id:         buildData.user_id,\n    metadata: {\n      model:              openaiResponse.model,\n      input_tokens:       usage.prompt_tokens,\n      output_tokens:      usage.completion_tokens,\n      total_tokens:       usage.total_tokens,\n    }\n  }\n}];"
      },
      "id": "d1329f7d-f99a-42a3-aecc-3526c27dcfd5",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        688
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lifewood-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c8b96179-1406-47ea-af14-1ffaefe3e53e",
      "name": "Receive Chat Message1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1872,
        688
      ],
      "webhookId": "74060f48-0214-43c7-ad1b-9a862c4db1d0"
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/billing/chat/memory/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $('Receive Chat Message1').first().json.body.user_id }}"
            },
            {
              "name": "query",
              "value": "={{ $('Receive Chat Message1').first().json.body.message }}"
            },
            {
              "name": "limit",
              "value": "6"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{ $env.N8N_AGENT_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "15b21fa5-77f1-4eb8-a5da-066c4a50f156",
      "name": "Fetch User Memory1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/billing/n8n/analytics/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{ $env.N8N_AGENT_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"user_id\": {{ $('Receive Chat Message1').first().json.body.user_id }} }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "8ebf7b08-2870-45f0-8b73-f71e0fb65911",
      "name": "Fetch Analytics Data1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": {{ JSON.stringify($json.reply) }},\n  \"conversation_id\": {{ JSON.stringify($json.conversation_id) }},\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a48c3b83-9e25-49a9-afb6-5c44e2fbb528",
      "name": "Send Response1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3200,
        688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lifewoodai-agent-v4-production.up.railway.app/api/billing/receipts/process-ocr/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "mHxsTSEhfiqbsY9fp-ELHJsKGWYoplzAPgIQvbUmHPl2fLWurZwO2b9yCEsTt4hEGJ8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={        \"file_id\": \"{{ $json.file_id }}\",        \"file_name\": \"{{ $json.file_name }}\",        \"folder_id\": \"{{ $json.folder_id }}\",        \"folder_name\": \"{{ $json.folder_name }}\"      }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2992,
        192
      ],
      "id": "0f5230fc-ba81-474d-8533-9265fcf009bc",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes1": {
      "main": [
        [
          {
            "node": "Get Drive Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Drive Files1": {
      "main": [
        [
          {
            "node": "Get Processed IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Processed IDs1": {
      "main": [
        [
          {
            "node": "Find New Image Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find New Image Files1": {
      "main": [
        [
          {
            "node": "Loop Over Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Files1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Result1": {
      "main": [
        [
          {
            "node": "Loop Over Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build System Prompt": {
      "main": [
        [
          {
            "node": "GPT-4o Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Chat": {
      "main": [
        [
          {
            "node": "Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply": {
      "main": [
        [
          {
            "node": "Send Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Chat Message1": {
      "main": [
        [
          {
            "node": "Fetch User Memory1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Analytics Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User Memory1": {
      "main": [
        [
          {
            "node": "Build System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Analytics Data1": {
      "main": [
        [
          {
            "node": "Build System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Log Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "03127743-616d-4b09-bdd2-801c18b34d19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62719930d056caa9e51789002856a9ba5a98cd3532a5fc03ffe34dbad05c7ab8"
  },
  "id": "sKNq2akhxVkWse14",
  "tags": []
}